@import "tailwindcss";



.marquee-text {
    display: inline-block;
    animation: marquee 10s linear infinite;
  }

.marquee-text span {
    color: #2dd4bf; /* Teal color for emphasis */
    cursor: pointer;
  }
  
  /* Keyframes for the marquee animation */
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }