@import "tailwindcss";



.marquee-container {
  position: relative;
  overflow: hidden;
}

.marquee-text {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}



/* button */


@keyframes outlineLoopRedGreen {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.6); /* Red */
  }
  25% {
    box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.6); /* Green */
  }
  75% {
    box-shadow: 0 0 0 5px rgba(0, 255, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.6);
  }
}

.animate-outlineLoopRedGreen {
  animation: outlineLoopRedGreen 11s infinite ease-in-out;
  border-radius: 0.375rem; /* match button's rounded-md */
}




/* dots */

/* Customize Swiper pagination dots with Tailwind-like styles */
.custom-swiper .swiper-paginatio {
  @apply mt-28;
}

.custom-swiper .swiper-pagination {
  @apply mt-6 text-center;
}

.custom-swiper .swiper-pagination-bullet {
  @apply bg-gray-400 opacity-100 w-2 h-2 mx-1 rounded-full transition-all;
}

.custom-swiper .swiper-pagination-bullet-active {
  @apply bg-green-500 w-3 h-3;
}
